.group:hover .filter-text {
    transform: translateX(0);
    opacity: 1;
  }
  .filter-text {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
  }
  
  .filter-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .filter-container.open {
    max-height: 500px; /* Adjust as needed */
    padding: 1rem; /* Adjust as needed */
  }
  