.rc-slider-track {
    background-color: #8e67ea !important;
  }
  
  .rc-slider-handle {
    border-color: #8e67ea !important;
  }
  
  .rc-slider-rail {
    background-color: #ddd !important;
  }
  